<!DOCTYPE html>
<html class="" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos del día - Captura de datos del anémometro</title>

    <link href="../css/output.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.4/css/dataTables.dataTables.css" />
    <script defer src="./views/components/Navbar.js"></script>
    <script defer src="./views/components/Compass.js"></script>
    <script defer src="./views/components/Speedometer.js"></script>
    <script defer src="./views/components/WindDisplayVariables.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.8/dist/cdn.min.js"></script>
</head>

<body class="bg-slate-50 dark:bg-gray-900 dark:text-white">
    <my-navbar>Datos del día</my-navbar>  
    
    <display-variables></display-variables>

    <div class="flex justify-center items-center 
        bottom-0 my-4 start-2 end-2 py-3 shadow bg-sky-100 dark:bg-gray-600
        mx-8 sm:mx-36 md:mx-[30rem] lg:mx-[45rem] rounded-lg"
    >
        <p id="raw-string" class="text-2xl text-center">
            ---
        </p>
    </div>


    <div class="md:absolute md:top-52 md:right-12">
        <div class="flex bellow-sm:flex-col justify-center items-center 
            md:flex-col md:justify-end md:items-end md:mr-20 md:-mt-20"
        >
            <my-compass class="my-[50px] mx-5"></my-compass>
            <my-speedometer class="my-[38px]"></my-speedometer>
        </div>
    </div>

    <script src="../js/dark-mode.js"></script>
    <script src="../js/get-registry.js"></script>
    <script src="../js/date-formatting.js"></script>
    <script src="../js/update-message.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.4/js/dataTables.js"></script>
    <script>
        $(function() {
            $('#myTable').DataTable({
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/e9421181788/i18n/Spanish.json"
                }
            });
        });
    </script>
</body>
</html>