<!DOCTYPE html>
<html class="" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Datos del día - Captura de datos del anémometro</title>

  <link href="../css/output.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.datatables.net/2.0.4/css/dataTables.dataTables.css" />
  <script defer src="./views/components/Navbar.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.8/dist/cdn.min.js"></script>  
</head>

<body class="bg-slate-50 dark:bg-gray-900 dark:text-white">
    <my-navbar><div id="title">No se han encontrado datos</div></my-navbar>  

    <div x-data="messages" class="flex justify-center">
      <a x-bind:href="'/day-table?created_at=' + getISODate(messages[0].created_at)" 
        class="px-10 py-3 rounded-xl shadow 
        text-white text-lg font-medium text-center
        bg-green-500 hover:bg-green-600 active:bg-green-700
        dark:bg-green-600 dark:hover:bg-green-700 dark:active:bg-green-800"
      >
        Tabla de registros
      </a>
    </div>

    <div class="mt-5 md:flex md:justify-center md:h-[70vh] md:space-x-10 bellow-md:space-y-10 bellow-md:mx-2">
        <canvas 
          id="chart-line" 
          class="dark:bg-slate-200 rounded-md px-2 h-[100%] md:w-[45vw]">
        </canvas>
        
        <div class="relative text-gray-700 font-bold">
          <span class="absolute left-1/2 -translate-x-1/2 z-50 
            top-7 text-2xl"
          >
            N
          </span>
          <span class="absolute left-1/2 -translate-x-1/2 z-50 
            bottom-0 text-2xl"
          >
            S
          </span>
          <span class="absolute left-2 md:left-6
            top-[52%] text-2xl"
          >
            O
          </span>
          <span class="absolute right-2 md:right-6
            top-[52%] text-2xl"
          >
            E
          </span> 

          <canvas 
            id="chart-polar" 
            class="dark:bg-slate-200 rounded-md pb-6 pt-2 w-[100%] h-[100%] md:w-[45vw]">
          </canvas>
        </div>
    </div>

    <script src="../js/dark-mode.js"></script>
    <script src="../js/get-registry.js"></script>
    <script src="../js/date-formatting.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/date-fns@3.6.0/cdn.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.3/dist/chart.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@v3.0.0/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script>
        const chartLine = document.getElementById('chart-line');
        const chartPolar = document.getElementById('chart-polar');

        const lineData = getLineChartData(messages);
        console.log(parseChartData(lineData.time, lineData.speed));

        new Chart(chartLine, {
          type: 'line',
          data: {
            datasets: [{
              label: 'Velocidad del viento',
              data: parseChartData(lineData.time, lineData.speed),
              pointRadius: 0,
            }]
          },
          options: {
            animation: false,
            normalized: true,
            spanGaps: true,
            parsing: false,
            scales: {
              x: {
                type: 'time',
                time: {
                  unit: 'minute',
                },
                source: 'auto',
                maxRotation: 0,
                autoSkip: true,
              },
              y: {
                  type: 'linear',
                  min: 0,
              }
            },
            plugins: {
              decimation: {
                enabled: true,
                algorithm: 'lttb',
              },
              legend: {
                  labels: {
                      font: {
                          size: 20
                      }
                  }
              },
              tooltip: {
                bodyFont: {
                    size: 18,
                    family: 'Arial',
                },
                titleFont: {
                    size: 20,
                    family: 'Arial',
                    weight: 'bold'
                },
              }  
            }
          }
        });
        

        const polarChartData = getPolarChartData(messages);
        new Chart(chartPolar, {
          type: 'polarArea',
          data: {
            datasets: [{
              data: polarChartData.frequency,
              borderColor: 'rgb(54, 162, 235)'
            }],
          },
          options: {
            animation: false,
            normalized: true,
            plugins: {
              legend: {
                display: false,
              },
              title: {
                display: true,
                text: 'Dirección del viento',
                font: {
                  size: 18
                },
                padding: {
                  bottom: 30 
                },
              }
            },
            scales: {
              r: {
                ticks: {
                  backdropColor: 'rgba(0, 0, 0, 0)',
                  color: '#999',
                }
              }
            },
            
          },
        });

        function getLineChartData(messages) {
          const time = [];
          const speed = [];

          messages.forEach((msg) => {
            const date = new Date(msg.created_at);
            time.push((date.getTime()));
            speed.push(msg.wind_speed);
          });

          return {
              time: time,
              speed: speed,
          };
        }

        function getPolarChartData(messages) {
          const directions = Array.from({ length: 360 }, (_, i) => i);
          const frequency = Array(360).fill(0);
      
          messages.forEach(message => {
              const direction = message.wind_direction;
              frequency[direction]++;
          });
      
          return {
              direction: directions,
              frequency: frequency
          };
      }

        document.querySelector('#title').textContent = "Datos del día " + getDayMonthYear(messages[0].created_at);
        
        function parseChartData(xAxis, yAxis) {
          const chartData = [];
          for (let i = 0; i < xAxis.length; i++) {
            chartData.push({ x: xAxis[i], y: yAxis[i] });
          }
          return chartData;
        }
      </script>
</body>
</html>