<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Datos del anémometro:</h1>
    <h2 id="string">---</h2>


    <script>
        function updateMessage() {
            fetch('/data')
                .then(response => response.text())
                .then(message => {
                    document.querySelector('#string').textContent = message;
                });
        }
    
        // Update the message every half second
        setInterval(updateMessage, 500);
    </script>
</body>
</html>